<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cors</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Cor</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>


  <div class="card-body">
    <table class="table table-hover" *ngIf="cors$ | async as cors; else loading">
      <thead>

        <tr>
          <th>Cod</th>
          <th>Cor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <div class="col-sm-6">
              <label for="cor">Cores</label>
              <table class="form-control" *ngIf="cors$ | async as cors; else loading">
                       <select name="cor" id="cor" formControlName="cor">
                           <option *ngFor="let cor of cors" [ngValue]="cor">{{ cor.nome }}</option>
                       </select> 
                 </table>
              <ng-template #loading>
                <span>Carregando Cores...</span>
              </ng-template>
          </div> 
        <tr *ngFor="let cor of cors">

          <td>{{ cor._id }}</td>
          <strong>{{cor.nome }}</strong><br>
          <small class="text-success">{{cor.hex}}</small><br>
          
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
          
        </tr>

        
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Cors...</span>
    </ng-template>
  </div>
</div>