<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
 <!-- Nome do Produto -->
    <div class="col-sm-6">
      <label for="descricao">Nome do Produto</label>
      <input
        type="text"
        class="form-control"
        id="descricao"
        placeholder="Nome do Produto"
        formControlName="descricao"
        [ngClass]="{ 'is-invalid': submitted && hasError('descricao')}"
      />

      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['required']" >
        Por favor informe um nome para o produto.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['minlength']" >
        Nome precisa ter no mínimo {{ hasError('descricao')['minlength'].requiredLength }} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['maxlength']" >
        Nome precisa ter no máximo {{ hasError('descricao')['maxlength'].requiredLength }} caracteres.
      </div>
    </div>

    <!-- cor -->
      <div class="form-row">
        <div class="form-group col-md-20" *ngIf="cors$ | async as cors; else loading">
          <label for="cor">Cor</label>
          <select name="cor" id="cor" formControlName="cor" class="form-control">
               <option *ngFor="let cor of cors" [ngValue]="cor">{{ cor.nome }}</option>
          </select>
        </div>
        <ng-template #loading>
          <span>Cores...</span>
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Cores...</span>
            </div>
        </ng-template>
      </div>

   <!-- grupo -->
   <div class="form-row">
      <div class="form-group col-md-20" *ngIf="grupos$ | async as grupos; else loading">
        <label for="grupo">Grupo</label>
        <select name="grupo" id="grupo" formControlName="grupo" class="form-control">
          <option *ngFor="let grupo of grupos" [ngValue]="grupo">{{ grupo.descricao }}</option>
        </select>
      </div>
      <ng-template #loading>
        <span>Grupo...</span>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Grupo...</span>
          </div>
      </ng-template>
    </div>

       <!-- embalagem -->
   <div class="form-row">
      <div class="form-group col-md-20" *ngIf="embalagens$ | async as embalagens; else loading">
        <label for="embalagem">Embalagem</label>
        <select name="embalagem" id="embalagem" formControlName="embalagem" class="form-control">
          <option *ngFor="let embalagem of embalagens" [ngValue]="embalagem">{{ embalagem.descricao }}</option>
        </select>
      </div>
      <ng-template #loading>
        <span>Embalagem...</span>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Embalagem...</span>
          </div>
      </ng-template>
    </div>

       <!-- marca -->
       <div class="form-row">
          <div class="form-group col-md-20" *ngIf="marcas$ | async as marcas; else loading">
            <label for="marca">Marca</label>
            <select name="marca" id="marca" formControlName="marca" class="form-control">
              <option *ngFor="let marca of marcas" [ngValue]="marca">{{ marca.descricao }}</option>
            </select>
          </div>
          <ng-template #loading>
            <span>Marca...</span>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Marca...</span>
              </div>
          </ng-template>
        </div>


  </div>
  <div style="margin-top: 10px">
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
