<div class="alert alert-{{ type }} no-margin" role="alert">
  {{ message }}
</div> 
<!-- INICIO DO MODAL -->

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-white">Cadastrar Novo Produto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
<!-- Formulario do Produto -->
<div class="modal-body" [formGroup]="produtoForm" style="padding-top: 50px">
  <div class="form-group">
    <div class="form-row">
           <div class="col-sm-8">
                <ng-template #popContentNome>Nome do Produto de forma clara e resumida</ng-template>
                <label for="descricao">Nome do Produto</label>
                <input
                  [ngbPopover]="popContentNome" 
                  popoverTitle="Campo Nome"
                  type="text"
                  class="form-control"
                  id="descricao"
                  placeholder="Nome do Produto"
                  formControlName="descricao"
                  [ngClass]="{ 'is-invalid': submitted && hasError('descricao')}"
                />
                <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['required']" >
                    Por favor informe um nome para o produto.
                  </div>
                  <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['minlength']" >
                    Nome precisa ter no mínimo {{ hasError('descricao')['minlength'].requiredLength }} caracteres.
                  </div>
                  <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['maxlength']" >
                    Nome precisa ter no máximo {{ hasError('descricao')['maxlength'].requiredLength }} caracteres.
                  </div>
            </div>
            
            <div class="col-sm-4">
                <label for="preco">Fabricação</label>
                  <input 
                  type="text" 
                  class="form-control col-md-12"
                  id="fabricacao"
                  placeholder="Data Fabricação"
                  formControlName="fabricacao" />
            </div>
         
            <div class="col-sm-4">
                <label for="preco">Vencimento</label>
                    <input 
                    type="text"
                    class="form-control col-md-12"
                    id="vencimento"
                    placeholder="Data Vencimento"
                    formControlName="vencimento" />
            </div>

            <div class="col-sm-2">
                <ng-template #popContentValor>Valor do Produto em R$ 0.0</ng-template>
                <label for="preco">Valor</label>
                <input
                  [ngbPopover]="popContentValor" 
                  popoverTitle="Campo Valor"
                  type="text"
                  class="form-control col-md-12"
                  id="preco"
                  placeholder="Valor do Produto R$"
                  formControlName="preco"
                />
            </div>

            <div class="col-sm-2">
                <ng-template #popContentAltura>Altura</ng-template>
                <label for="altura">Altura</label>
                <input
                  [ngbPopover]="popContentAltura" 
                  popoverTitle="Campo Altura"
                  type="number"
                  class="form-control"
                  id="altura"
                  placeholder="Altura"
                  formControlName="altura"
                />
            </div>

            <div class="col-sm-2">
                <ng-template #popContentLargura>Largura</ng-template>
                <label for="largura">Largura</label>
                <input
                  [ngbPopover]="popContentAltura" 
                  popoverTitle="Campo Largura"
                  type="number"
                  class="form-control"
                  id="largura"
                  placeholder="Largura"
                  formControlName="largura"
                  />
            </div>

        <!--     <div class="col-sm-2">
              <ng-template #popContentTamanho>Tamanho</ng-template>
              <label for="tamanho">Tamanho {{tamanho}}</label>
              <input
                
                [ngbPopover]="popContentTamanho" 
                popoverTitle="Campo tamanho"
                type="number"
                class="form-control"
                id="tamanho"
                placeholder="Tamanho"
                formControlName="tamanho"
               />
          </div>  -->

            <div class="col-sm-2">
                <ng-template #popContentFormato>Formato</ng-template>
                <label for="formato">Formato</label>
                <input
                  [ngbPopover]="popContentFormato" 
                  popoverTitle="Campo Formato"
                  type="text"
                  class="form-control"
                  id="formato"
                  placeholder="Formato"
                  formControlName="formato"
                 />
            </div>

            <div class="col-sm-2">
                <ng-template #popContentDurabilidade>Durabilidade do Produto em dias ou meses</ng-template>
                <label for="durabilidade">Dur.</label>
                <input 
                  [ngbPopover]="popContentDurabilidade" 
                  popoverTitle="Campo Durabilidade"
                  type="text"
                  class="form-control"
                  id="durabilidade"
                  placeholder="Durabilidade"
                  formControlName="durabilidade"
                 />
            </div>

            <div class="col-sm-2">
                <ng-template #popContentPeso>Peso do Produto em Kg ou Gramas</ng-template>
                <label for="peso">Peso</label>
                <input
                [ngbPopover]="popContentPeso" 
                popoverTitle="Campo Peso"
                  type="text"
                  class="form-control"
                  id="peso"
                  placeholder="Peso do Produto Kg"
                  formControlName="peso"
                />
            </div>

   <div class="col-sm-4">
     <div class="form-row">
          <div class="form-group" 
          *ngIf="cors$ | async as cors; else loading">
            <label for="cor">Cor</label>
            <select 
            name="cor" 
            id="cor" 
            formControlName="cor" 
            class="form-control">
                 <option *ngFor="let cor of cors" [ngValue]="cor">{{ cor.nome }}</option>
            </select>
          </div>
          <ng-template #loading>
            <span>Aguarde..</span>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Aguarde..</span>
              </div>
          </ng-template>
      </div>
  </div> 

  <div class="col-sm-4">
     <div class="form-row">
        <div class="form-group col-md-12" *ngIf="grupos$ | async as grupos; else loading">
          <label for="grupo">Grupo</label>
          <select name="grupo" id="grupo" formControlName="grupo" class="form-control">
            <option *ngFor="let grupo of grupos" [ngValue]="grupo">{{ grupo.descricao }}</option>
          </select>
        </div>
        <ng-template #loading>
          <span>Aguarde..</span>
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Aguarde..</span>
            </div>
        </ng-template>
      </div>
</div> 

<div class="col-sm-4">
     <div class="form-row">
        <div class="form-group col-md-12" *ngIf="embalagens$ | async as embalagens; else loading">
          <label for="embalagem">Embalagem</label>
          <select name="embalagem" id="embalagem" formControlName="embalagem" class="form-control">
            <option *ngFor="let embalagem of embalagens" [ngValue]="embalagem">{{ embalagem.descricao }}</option>
          </select>
        </div>
        <ng-template #loading>
          <span>Aguarde..</span>
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Aguarde..</span>
            </div>
        </ng-template>
      </div>
    </div> 

<div class="col-sm-4">
    <div class="form-row">
            <div class="form-group col-md-12" *ngIf="marcas$ | async as marcas; else loading">
              <label for="marca">Marca</label>
              <select name="marca" id="marca" formControlName="marca" class="form-control">
                <option *ngFor="let marca of marcas" [ngValue]="marca">{{ marca.descricao }}</option>
              </select>
            </div>
            <ng-template #loading>
              <span>Aguarde..</span>
              <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Aguarde..</span>
                </div>
            </ng-template>
          </div>
        </div>  

      <div class="col-sm-4">
          <div class="form-row">
             <div class="form-group col-md-12" *ngIf="devolucaos$ | async as devolucaos; else loading">
               <label for="devolucao">Devolucao</label>
               <select name="devolucao" id="devolucao" formControlName="devolucao" class="form-control">
                 <option *ngFor="let devolucao of devolucaos" [ngValue]="devolucao">{{ devolucao.descricao }}</option>
               </select>
             </div>
             <ng-template #loading>
               <span>Aguarde..</span>
               <div class="spinner-border text-primary" role="status">
                   <span class="sr-only">Aguarde..</span>
                 </div>
             </ng-template>
           </div>
         </div> 
        <!--  <img src="https://a-static.mlcdn.com.br/618x463/computador-all-in-one-positivo-union-ud3550-intel-dual-core-4gb-500gb-led-185-windows-10/magazineluiza/218180400/4136765888c30c8e2b7ede1d1261fd79.jpg" class="rounded float-left" alt="https://a-static.mlcdn.com.br/618x463/computador-all-in-one-positivo-union-ud3550-intel-dual-core-4gb-500gb-led-185-windows-10/magazineluiza/218180400/4136765888c30c8e2b7ede1d1261fd79.jpg"> -->
    </div>
  </div>
</div>

  <!-- foot-->

    <div class="modal-footer">
       <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
       <button type="button" id="xd" class="btn btn-inverse" (click)="c('Close click')">Fechar</button>
    </div>
  </ng-template>

<!-- fim do Produto -->

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <ng-template #popContentPes>
         Digite em CAIXA ALTA O NOME DO PRODUTO !
        </ng-template>

    <form  (ngSubmit)="onSubmitShearch()">
        <label for="lastname">Nome</label>
        <input 
        [ngbPopover]="popContentPes" 
        popoverTitle="Pesquisar Produtos"
        (blur)="uPpercase($event)"
        id="descricao" 
        [(ngModel)]="descricao" 
        name="descricao"
        class="form-control" 
        type="search" 
        placeholder="Digite o nome do produto" 
        aria-label="Pesquisar">

        <button class="btn btn-outline-success" 
        type="submit">Pesquisar</button>

        <button type="button" 
        class="btn btn-outline-warning" 
        (click)="openCadastrar(content2)">Novo Produto</button>

        <button type="button" 
        class="btn btn-outline-info" 
        (click)="onRefreshProduto()">Atualizar Lista</button> 
      </form>

      </div>
    </div>
  </div> 

  <div class="card-body">
    <table class="table table-hover" *ngIf="produtos$ | async as produtos; else loading">
      <thead>
    
      </thead>
      <tbody>

        <tr *ngFor="let produto of produtos">
          <ng-template #popContentProd>
            Cod:{{produto._id}}
            Peso:{{produto.peso}}
            Nome:{{produto.descricao}}
            Cor:{{produto.cor.nome}}
            Grupo:{{produto.cor.grupo}}
            Marca:{{produto.marca.descricao}}
            Embalagem:{{produto.embalagem.descricao}}<br>
            Devo:{{produto.devolucao.descricao}}<br>
            Altura:{{produto.altura}}<br>
            Largura:{{produto.largura}}<br>
            Formato:{{produto.formato}}<br>
            Formato:{{produto.datacadastro}}<br>
            Formato:{{produto.status}}<br>
          </ng-template>
          <h1> <strong 
          class="badge badge-Dark"
          [ngbPopover]="popContentProd" 
          popoverTitle="Informações do produto">
          {{produto.descricao}} :
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
           </strong>
          <h4><a  class="badge badge-Dark">UUID :  {{produto.uuid}}</a></h4>
          </h1>

        <a href="#" 
          class="badge badge-primary">Valor R$:</a>
        <a href="#" 
          [ngbPopover]="popContentPreco" 
          popoverTitle="Campo Preco"
          class="badge badge-warning" 
          data-toggle="tooltip" 
          data-placement="top"
          title="Preco do Produto">{{produto.preco}}</a>
     
        <a href="#" class="badge badge-primary">Peso Kg:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Valor do Produto">{{produto.peso}} Kg</a>
    
        <a href="#" class="badge badge-primary">Cod:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Codigo do Produto">{{ produto._id }}</a>
    
        <a href="#" class="badge badge-primary">Cor:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Codigo do Produto">{{ produto.cor.nome }}</a> 
    
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Codigo do Produto">{{ produto.cor.hex }}</a> 

        <a href="#" class="badge badge-primary">Grupo:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Codigo do Produto">{{ produto.grupo.descricao }}</a>

        <a href="#" class="badge badge-primary">Marca:</a>
        <a href="#" class="badge badge-success" data-toggle="tooltip" data-placement="top"
              title="Codigo do Produto">{{ produto.marca.descricao }}</a>
          
        <a href="#" class="badge badge-primary">Embalagem:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
              title="Codigo do Produto">{{ produto.embalagem.descricao }}</a> 
              
        <a href="#" class="badge badge-primary">Devolucao:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Codigo do Produto">{{ produto.devolucao.descricao }}</a> 

        <a href="#" class="badge badge-primary">Altura:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Altura do Produto">{{ produto.altura }} Cm</a> 

        <a href="#" class="badge badge-primary">Largura:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Largura do Produto">{{ produto.largura}} Cm</a> 

        <a href="#" class="badge badge-primary">Formato:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Formato do Produto">{{ produto.formato }}</a> 
        
        <a href="#" class="badge badge-primary">Data Cadastro:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Daata de Cadastro">{{ produto.datacadastro }}</a> 

        <a href="#" class="badge badge-primary">Status:</a>
        <a href="#" class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                   title="Daata de Cadastro">{{ produto.status }}</a> 
       
        <a href="#" class="badge badge-primary">Fabricação:</a>
        <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
                   title="Fabricação">{{ produto.fabricacao }}</a> 
        
        <a href="#" class="badge badge-primary">Vencimento:</a>
        <a href="#" class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                    title="Vencimento">{{ produto.vencimento }}</a> 

        <a href="#" class="badge badge-primary">Tamanho:</a>
        <a href="#" class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                    title="Tamanho">{{ produto.tamanho }} Cm</a> 

                  <!--  <label>color:</label>
                   <input 
                   value="{{ produto.cor.hex }}"
                   type=”color”> -->
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" 
              (click)="openEditar(content2)" 
              [routerLink]="['/produto-form', produto._id]">
                Atualizar
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Desativar
              </button>
              <button class="btn btn-outline-warning mb-1 btn-sm" 
              (click)="openEditar(content2)" 
              [routerLink]="['/produto-form', produto._id]">
               Visualizar
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Comprar
              </button>
            </span>
          </td>

        </tr>
      </tbody>
 </table>
    <ng-template #loading>
      <span>Carregando Produtos...</span>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
 