<div class="navbar">
  <div class="card-header">
    <div class="float-left">
      <button type="button" class="btn btn-primary" (click)="open(content2)">Novo Produto</button>
    </div>
  </div>
  <!-- INICIO DO MODAL -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <input class="form-control" type="search" placeholder="Digite o nome do produto" aria-label="Pesquisar">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar Lista</button>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title text-white">Cadastrar Novo Produto</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-inverse" (click)="c('Close click')">Fechar</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- FIM DO MODAL -->
  <div class="card-body">
    <table class="table table-hover" *ngIf="produtos$ | async as produtos; else loading">
      <thead>
        <tr>
          <!--  <th>Cod</th> -->
          <th>Produto</th>
          <th>Durabilidade</th>
          <th>Rotulagem</th>
          <th>Cor</th>
          <th>Grupo</th>
          <th>Marca</th>
          <th>Embalagem</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <strong>{{produto.descricao}}</strong><br>
          <a href="#" class="badge badge-primary">Valor R$</a>
          <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Preco do Produto">{{produto.preco}}</a>
          <a href="#" class="badge badge-primary">Peso Kg</a>
          <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Valor do Produto">{{produto.peso}}</a><br>
          <a href="#" class="badge badge-primary">Cod</a>
          <a href="#" class="badge badge-info" data-toggle="tooltip" data-placement="top"
            title="Codigo do Produto">{{produto._id}}</a>
          <td>{{ produto.durabilidade }}</td>
          <td>{{ produto.rotulagem }}</td>
          <strong>{{ produto.cor.nome }}</strong><br>
          <small class="text-success">{{produto.cor.hex}}</small><br>
          <td>{{ produto.grupo.descricao }}</td>
          <td>{{ produto.marca.descricao }}</td>
          <td>{{ produto.embalagem.descricao }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando Produtos...</span>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>