
<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">

       <input class="form-control" 
       type="search" 
       placeholder="Digite o nome do produto" 
       aria-label="Pesquisar">
       <button class="btn btn-outline-success" 
       type="submit">Pesquisar</button> 
 
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Produto</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar Lista</button>
  
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover" *ngIf="produtos$ | async as produtos; else loading">
      <thead>
        <tr>
         <!--  <th>Cod</th> -->
          <th>Produto</th>
        <!--   <th>Durabilidade</th>
          <th>Rotulagem</th> -->
          <th>Cor</th>
          <th>Grupo</th>
          <th>Marca</th>
          <th>Embalagem</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let produto of produtos">
          
          <strong>{{produto.descricao}}</strong><br>
          <a href="#" class="badge badge-primary">Valor R$</a>
          <a href="#" 
          class="badge badge-info"
          data-toggle="tooltip" 
          data-placement="top"  
          title="Preco do Produto"
          >{{produto.preco}}</a>
          
          <a href="#" class="badge badge-primary">Peso Kg</a>
          <a href="#" 
          class="badge badge-info"
          data-toggle="tooltip" 
          data-placement="top" 
          title="Valor do Produto"
          >{{produto.peso}}</a><br>

          <a href="#" class="badge badge-primary">Cod</a>
          <a href="#" 
          class="badge badge-info"
          data-toggle="tooltip" 
          data-placement="top" 
          title="Codigo do Produto"
          >{{produto._id}}</a>

        <!--   <td>{{ produto.durabilidade }}</td>
          <td>{{ produto.rotulagem }}</td> -->

          <strong>{{ produto.cor.nome }}</strong><br>
          <small class="text-success">{{produto.cor.hex}}</small><br>

          <td>{{ produto.grupo.descricao }}</td>
          <td>{{ produto.marca.descricao }}</td>
          <td>{{ produto.embalagem.descricao }}</td>
          
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando Produtos...</span>
      <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </ng-template>
  </div>
</div>

