
<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Produtos</h4>
<!--       <input class="form-control mr-sm-6" type="search" 
placeholder="Digite o nome " aria-label="Pesquisar">
<button class="btn btn-outline-success my-2 my-sm-0"
 type="submit">Pesquisar</button> -->
 
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Produto</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover" *ngIf="produtos$ | async as produtos; else loading">
      <thead>
        <tr>
          <th>Cod</th>
          <th>Produto</th>
          <th>Durabilidade</th>
          <th>Rotulagem</th>
          <th>Cor</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto._id }}</td>

          <strong>{{produto.descricao}}</strong><br>
          <small class="text-success">R$ {{produto.preco}}</small><br>
          <small class="text-success">Kg {{produto.peso}}</small><br>

          <td>{{ produto.durabilidade }}</td>
          <td>{{ produto.rotulagem }}</td>

          <strong>{{produto.cor.nome }}</strong><br>
          <small class="text-success">{{produto.cor.hex}}</small><br>
          
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Produtos...</span>
    </ng-template>
  </div>
</div>

